
@using System.Linq;
@using OdeToFood.Core;
@* @model int *@
@model List<Restaurant>;
<div class="card card-body bg-light">
    There are @Model.Count() restaurants here . <a asp-page="/Restaurants/List">See them All!</a>
</div>