@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientRestaurants</title>
</head>

<body>
</body>
@section Scripts {
<environment include="Development">
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">

</environment>
<environment exclude="Development">

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.css" />

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.js"></script>
</environment>
<script>
    $(function () {
        $.ajax("/api/restaurants",
            { method: "get" })
            .then(function (response) {
                console.dir(response);
            });
    });
</script>
}

</html>
